@tailwind base;
@tailwind components;
@tailwind utilities;

.video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  overflow: hidden;
}

.video-foreground iframe {
  width: 100vw;
  height: 56.25vw; /* 16:9 aspect ratio */
  min-height: 100vh;
  min-width: 177.77vh; /* 16:9 aspect ratio */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes skeleton-loading {
  0% {
    background-color: rgba(165, 165, 165, 0.1);
  }
  50% {
    background-color: rgba(165, 165, 165, 0.3);
  }
  100% {
    background-color: rgba(165, 165, 165, 0.1);
  }
}

.skeleton-loader .skeleton {
  display: block;
  height: 1em; /* Altura del skeleton */
  margin-bottom: 1em; /* Espacio entre los skeletons */
  background: rgba(165, 165, 165, 0.1);
  animation: skeleton-loading 1.2s infinite ease-in-out;
}
